div.404 h1 {
  color: #FEA31E;
  text-align: center;
  font-family: 'Josefin Sans',sans-serif;
  font-weight: 700;
  font-size: 75px;
}

div.404 p {
  text-align: center;
  font-family: 'Inria Serif', serif;
  font-weight: 300;
  font-size: 20px;
}

div.404 {
  margin-top: auto;
  margin-bottom: auto;
}
