footer {
  background-color: #FFC107;
  padding-top: 3%;
}

a {
  text-decoration: none;
  color: white;
}

.wrap_footer {
  margin: 0 auto 0 auto;
	max-width: 1200px;
	padding: 0 250px;
  display: flex;
}

.wrap_footer p {
  color: white;
  font-family: 'Inria Serif', serif;
  font-size: 18px;
  padding-bottom: 20px;
}

div#social {
  margin: auto;
}

div#social a {
  font-size: 20px;
}

img#insta {
  width: 20%;
  padding-top: 20px;
}
