@media screen and (max-width: 800px){
    .wrap_footer{
        display: block;
    }
    .wrap_footer p{
        padding: 0;
        margin-bottom: 20px;
    }
    img#insta{
        width: 50px;
        margin-top: 5px;
    }
    div#meeting a{
        margin-top: 10px;
    }


}