footer {
  background-color: #FEA31E;
  padding-top: 3%;
}


.wrap_footer {
  margin: 0 auto 0 auto;
	max-width: 100%;
	padding: 0 8%;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
.wrap_footer p {
  color: white;
  font-family: 'Inria Serif', serif;
  font-size: 15px;
  padding-bottom: 10%;
}

div#social {
  text-align: center;
}

div#social a {
  color: white;
  font-size: 20px;
  font-family: 'Inria Serif', serif;
}

img#insta {
  width: 17%;
  display: block;
  margin: auto;
  padding-top: 8%;
}
div#meeting a {
  color: white;
  font-size: 12px;
  font-family: 'Josefin Sans';
  font-weight: 700;
  border: solid 1px;
  border-radius: 30px;
  padding: 21px;
  padding-right: 32px;
  padding-left: 32px;
}
div#meeting {
  padding-top: 3%;
}
