header {
  background-color: #FFF6E5;
}

html {
  background-color: #FFF6E5;
}

header a {
  font-family: 'Inria Serif', serif;
}

svg {
  width: 15%;
  display: block;
  margin: auto;
  padding-bottom: 2%
}

#wpadminbar {
  display: none;
}

.menu a {
  color: #FEA31E;
  border-right: 1pt solid #FEA31E;
  padding-right: 24px;
  padding-left: 24px;
}

li#menu-item-70 a {
  border: none;
}

li#menu-item-59, li#menu-item-60, li#menu-item-64, li#menu-item-65 {
  border-bottom: 1px solid #FEA31E;
  text-align: center;
  padding-bottom: 12px;
  padding: 0 8px;
}

.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  position: relative;
}

ul li {
  position: relative;
}

ul .sub-menu {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
}

ul .sub-menu a {
  border: none;
  justify-content: center;
  width: 10%;
  line-height: 25pt;
  font-size: 14px;
  padding: 0 10px;
}

ul .sub-menu li {
  padding: 0 8px;
  text-align: center;
}

ul li:hover .sub-menu {
   display: block;
}
