/*body.front-page svg path {
   fill: #FFFFFF;
}*/

body.front-page .menu a {
  color: white;
  border-right: 1pt solid white;
}

body.front-page ul .sub-menu a {
  border: none;
  justify-content: center;
}

body.front-page header {
  position: absolute;
}
