@media screen and (max-width: 1350px){
    .method_front_page .pictures_front_page{
        width: 100%;
    }
    .method_front_page .pictures_front_page img:first-child{
        left: 30%;
        height:400px;
        width: auto;
    }
    .method_front_page .pictures_front_page img:last-child{
        left: 20%;
        height:400px;
        width: auto;
    }
    .introduction_front_page{
        width: 100%;
        margin-top: 50px;
    }
    .introduction_front_page p{
        width: 100%;
    }
    .quotation_front_page a{
        left: 0%;
    }

    @media screen and (max-width: 800px){

        .loader {
          display: none;
        }

        .method_front_page .pictures_front_page img:first-child{
            left: 18%;
            height:300px;
            width: auto;
        }
        .method_front_page .pictures_front_page img:last-child{
            left: 8%;
            height:300px;
            width: auto;
        }
        .introduction_front_page{
            width: 100%;
            margin-top: 50px;
        }
        .introduction_front_page p{
            width: 100%;
        }
        .social_wall_posts_front_page a{
            width: 50%;
            margin-bottom:24px ;
        }
        .social_wall_posts_front_page{
            justify-content: space-evenly;
        }


        @media screen and (max-width: 600px){
            .picto_front_page{
                flex-wrap: wrap;

            }
            .picto_front_page div, .picto_front_page div:first-child, .picto_front_page div:last-child{
                margin-top: 20px;
                margin-left: 0px;
                margin-right: 0px;
                width: 100%;
            }

            .method_front_page .pictures_front_page img:first-child{
                left: 10%;
            }

            .method_front_page .pictures_front_page img:last-child{
                left: -10%;
            }

            @media screen and (max-width: 500px){

                .method_front_page .pictures_front_page img:first-child{
                    height: 275px;
                }

                .method_front_page .pictures_front_page img:last-child{
                    height: 275px;
                    margin-top: 100px;
                    left: -20px;
                }


            }
        }
    }
}
