div.text1_job {
  width: 50%;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

div.bloc_job {
  max-width: 1212px;
  padding-left: 114px;
  padding-right: 114px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  border-bottom: 1px solid #FEA31E;
  padding-bottom: 88px;
}

div.text_job {
  display:flex;
  flex-wrap:wrap;
}

div#title_job {
  font-size: 72px;
  font-family: 'Josefin Sans';
  font-weight: 700;
  padding: 80px;
  color: #FEA31E;
  text-align: center;
  width: 100%;
}

div.photo_job {
  width: calc(50% - 136px);
}

div.photo_job img {
  display: block;
  width: 100%;
  height: auto;
}

div#text1_job1 {
  font-size: 32px;
  line-height: 40px;
  font-family: 'Josefin Sans';
  font-weight: 600;
}

div#text1_job2 {
  font-size: 20px;
  line-height: 32px;
  font-family: 'Inria Serif';
  font-weight: 300;

}

div.button_job {
  display:flex;
  justify-content: center;
  margin-top: 24px;
}

div.button_job a {
  color: #FEA31E;
  font-size: 12px;
  font-family: 'Josefin Sans';
  font-weight: 700;
  border: solid 1px #FEA31E;
  border-radius: 30px;
  padding: 13px;
  padding-right: 32px;
  padding-left: 32px;
  text-transform: uppercase;
}

div.application {
  font-size: 32px;
  font-family: 'Josefin Sans';
  font-weight: 600;
  color: black;
  text-align: center;
  max-width: 1212px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #FEA31E;
  margin-top: 86px;
  padding-top: 20px;
  box-sizing: border-box;
  padding-bottom: 86px;
  margin-bottom: 110px;
}
