@media screen and (max-width: 1200px) {

    div.photo_portrait{
        width: 45%;
    }

    @media screen and (max-width: 800px) {

        div#title_portrait {
          padding: 80px 0 80px 0;
        }

        div.text_portrait{
            width: 100%;
            margin-bottom: 24px;
            order: 1;
        }

        div.photo_portrait{
            width: 100%;
            order: 2;
        }

        div.text2_portrait{

        }

        div.bloc1_portrait {
            padding: 0 10%;
        }

        div.bloc2_portrait{
            padding: 64px 10% 64px;
        }

        div.photo2_portrait{
            width: 100%;
            margin-top: 28px;
        }

        div.text2_portrait{
            width: 100%;
        }

        div.citation_portrait::after {
          left: 320px;
          top: 585px;
        }

        div.formation_portrait {
          font-size: 28px;
        }

        div.instagram_portrait::before {
          width: 340px;
        }

        div.bandeau_portrait {
            justify-content: space-evenly;
          }

          div.bandeau_portrait a {
            width: 50%;
            margin-bottom: 24px;
          }

          div.bandeau_portrait a img {
            display: block;
            width: 80%;
            margin: 0 auto;
          }

        @media screen and (max-width: 600px){
        .bandeau_portrait{
            flex-wrap: wrap;
            display: unset;

        }
        .picto_front_page div, .picto_front_page div:first-child, .picto_front_page div:last-child{
            margin-top: 20px;
            margin-left: 0px;
            margin-right: 0px;
            width: 100%;
        }
    }
}

}
