div.text_portrait {
  width: 50%;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

div.bloc1_portrait {
  max-width: 1212px;
  padding-left: 114px;
  padding-right: 114px;
  margin-left: auto;
  margin-right: auto;
}

div.presentation_portrait {
  display:flex;
  flex-wrap:wrap;
}

div#title_portrait {
  font-size: 72px;
  font-family: 'Josefin Sans';
  font-weight: 700;
  padding: 80px;
  color: #f8b472;
  text-align: center;
  width: 100%;
}

div.photo_portrait {
  width: calc(50% - 168px);
}

div.photo_portrait img {
  display: block;
  width: 100%;
  height: auto;
}

div#text1_portrait {
  font-size: 32px;
  line-height: 40px;
  font-family: 'Josefin Sans';
  font-weight: 600;
  color: #052a4d;
}

div#text2_portrait {
  font-size: 20px;
  line-height: 32px;
  font-family: 'Inria Serif';
  font-weight: 300;
  padding-bottom: 16px;
}

div#text3_portrait {
  font-size: 20px;
  line-height: 32px;
  font-family: 'Inria Serif';
  font-weight: 300;

}

div.text2_portrait {
  width: 50%;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

div.bloc2_portrait {
  max-width: 1212px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #f8b472;
  margin-top: 88px;
  padding-top: 88px;
  box-sizing: border-box;
  border-bottom: 1px solid #f8b472;
  padding-bottom: 88px;
}

div.presentation2_portrait {
  display:flex;
  flex-wrap:wrap;
}

div.photo2_portrait {
  width: calc(50% - 32px);
}

div.photo2_portrait img {
  display: block;
  width: 100%;
  height: auto;
}

div#text4_portrait {
  font-size: 20px;
  line-height: 32px;
  font-family: 'Inria Serif';
  font-weight: 300;
}

div.citation_portrait p{
  font-family:'Josefin Sans';
  font-weight: 300;
  font-size: 20px;
  margin-top: 2%;
  line-height: 32px;
  border-left: 6px solid #f8b472;
  padding-left: 78px;
  padding-right: 78px;
}

div.citation_portrait {
  position:relative;
  margin-top: 90px;
  padding-bottom: 10px;
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
}

div.citation_portrait:before {
  content :'“';
  display:block;
  position: absolute;
  left: 30px;
  top: 0px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 100px;
}

div.citation_portrait:after {
  content :'”';
  display:block;
  position: absolute;
  left: 555px;
  top: 235px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 100px;
}

div.button_portrait {
  display:flex;
  justify-content: center;
  margin-top: 24px;
}

div.button_portrait a {
  color: #f8b472;
  font-size: 12px;
  font-family: 'Josefin Sans';
  font-weight: 700;
  border: solid 1px #f8b472;
  border-radius: 30px;
  padding: 21px;
  padding-right: 32px;
  padding-left: 32px;
  text-transform: uppercase;
}

div.formation_portrait {
  font-size: 32px;
  font-family: 'Josefin Sans';
  font-weight: 600;
  color: black;
  text-align: center;
  max-width: 1212px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #f8b472;
  margin-top: 85px;
  padding-top: 88px;
  box-sizing: border-box;
  padding-bottom: 88px;
  color: #052a4d;
}

div.instagram_portrait:before {
  content: '';
  display: block;
  height: 0.5px;
  width: 384px;
  background-color: #f8b472;
  margin-left: auto;
  margin-right: auto;
}

div.instagram_portrait h2 {
  padding-top: 88px;
  font-size: 32px;
  font-family: 'Josefin Sans';
  font-weight: 600;
  color: black;
  text-align: center;
  max-width: 1212px;
  margin-left: auto;
  margin-right: auto;
  color: #052a4d;
}

div.instagram_portrait p {
  padding-top: 5px;
  font-size: 25px;
  font-family: 'Josefin Sans';
  font-weight: 300;
  color: black;
  text-align: center;
  max-width: 1212px;
  margin-left: auto;
  margin-right: auto;
}

div.bandeau_portrait{
  display: flex;
  flex-wrap: wrap;
  margin-top: 19px;
  padding-bottom: 8%;
}

div.bandeau_portrait a {
  width: 25%;
  display: block;
}

div.bandeau_portrait a img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

