@media screen and (max-width: 800px){

    div.quote_results::before{
        content: '';
    }

    div.quote_results::after{
        content: '';
    }

    div.photo_results{
        display: flex;
        margin: 0px;
        justify-content: space-between;
        overflow: hidden;
    }

    div.photo_results{
        width: 100%;
    }

    div.photo_results img{
        width: 45%;
    }

    div.before_after_results p.before_results {
        padding-left:15%;
      }
      
      div.before_after_results p.after_results {
        padding-right:15%;
      }

      @media screen and (max-width: 500px){

        div.quote_results p{
            padding:0 10%;
        }

        div.quote_results{
            padding: 0;
        }

        div.photo_general_results{
            margin-top: 40px;
            padding-top: 40px;
        }


      }
}    