@media screen and (max-width: 1350px){
            
    div.citation.seances:after, div.citation.seances:before{
        display:none;
    }

        @media screen and (max-width: 800px){
            
            div.child.photo.seances{
                width: 100%;
                order: 2;
            }
            div.child.text.seances{
                width: 100%;
                order: 1;
                margin-bottom:32px;
            }
    
            div.child.text.seances{
                width: 100%;
                margin-bottom: 32px;
            }

            div.child.text.seances.no_margin{
                margin-top: 24px;
            }
            
            @media screen and (max-width: 600px){
            

                div#title_seances h1{
                        font-size:60px;
                    }

                
                @media screen and (max-width: 500px){
                

                    div#title_seances h1{
                    font-size:48px;
                    }
                    
                }
    
            }

        }


}