div#title h1 {
  color: #FFC107;
  text-align: center;
  font-family: 'Josefin Sans',bold;
  font-size: 75px;
  padding: 5% 22%;

}
img#etapes {
  display: block;
  width: 40%;
}
div#etape h2{
  font-family: 'Josefin Sans',semi-bold;
  font-size: 20px;
}
div#etape p{
  font-family: 'Inria Serif', light;
  font-size: 15px;
}
