div#title_seances h1 {
  color: #FFC107;
  text-align: center;
  font-family: 'Josefin Sans',sans-serif;
  font-weight: 700;
  font-size: 75px;
  padding: 5% 22%;
}
div.child.text.seances h2{
  font-family: 'Josefin Sans', serif;
  font-weight: 600;
  font-size: 32px;
  margin-top: 13%
}
div.child.text.seances p{
  font-family: 'Inria Serif', serif;
  font-weight: 300;
  font-size: 20px;
  margin-top: 5%;
  line-height:32px;
}
div.child.photo.seances img{
  display:block;
  width: 100%;
}
div.wrap.seances {
  margin: 0 auto;
  max-width: 1700px;
  padding: 0 8%;
}

div.parent.seances {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 32px;
}

div.child.text.seances {
  width: 43%;
  padding-left: 30px
}

div.child.photo.seances {
  width: 49%;
}
div.child.bouton.seances a {
  text-decoration: none;
  color: #FFC107;
  font-family: 'Josefin sans', serif;
  font-weight: 700;
  font-size: 13px;
  border: solid 1pt;
  border-radius: 30px;
  padding: 21px;
  padding-right: 32px;
  padding-left: 32px;
}

div.child.bouton.seances {
  width: 50%;
  display: block;
  margin: auto;
